spring:
  datasource:
    url: jdbc:mysql://${secret.dev.SPRING_DATABASE_HOST}:${secret.dev.SPRING_DATABASE_PORT}/${secret.dev.SPRING_DATABASE_NAME}?useSSL=false&allowPublicKeyRetrieval=true
    username: ${secret.dev.SPRING_DATABASE_USERNAME}
    password: ${secret.dev.SPRING_DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update

tmap:
  api:
    app-key: ${secret.dev.TMAP_API_KEY}

kakao:
  client-id: ${secret.dev.OAUTH_KAKAO_CLIENT_ID}

redis:
  host: redis
  port: 6379
  password: ${secret.dev.REDIS_PASSWORD}

open-api:
  api:
    service-key: ${secret.dev.OPEN_API_SERVICE_KEY}
    spare-key : ${secret.dev.OPEN_API_SPARE_KEY}
    real-last-key: ${secret.dev.OPEN_API_REAL_LAST_KEY}

kric:
  api:
    service-key: ${secret.dev.KRIC_SERVICE_KEY}

odsay:
  api:
    service-key: ${secret.dev.ODSAY_SERVICE_KEY}
    spare-key: ${secret.dev.ODSAY_SPARE_KEY}
    real-last-key: ${secret.dev.ODSAY_REAL_LAST_KEY}

jwt:
  access:
    secret: ${secret.dev.JWT_ACCESS_SECRET}
    expiration: ${secret.dev.JWT_ACCESS_EXPIRATION_MS}
  refresh:
    secret: ${secret.dev.JWT_REFRESH_SECRET}
    expiration: ${secret.dev.JWT_REFRESH_EXPIRATION_MS}

management:
  server:
    port: ${secret.dev.MANAGEMENT_PORT}

  endpoints:
    web:
      exposure:
        include: prometheus, health
      base-path: ${secret.dev.MANAGEMENT_BASE_PATH}
    jmx:
      exposure:
        exclude: "*"
    access:
      default: read_only
  endpoint:
    health:
      show-components: never
      status:
        order: down, out-of-service, up, unknown


discord:
  webhook:
    url: ${secret.dev.DISCORD_WEBHOOK_URL}
