spring:
  datasource:
    url: jdbc:mysql://${secret.staging.SPRING_DATABASE_HOST}:${secret.staging.SPRING_DATABASE_PORT}/${secret.staging.SPRING_DATABASE_NAME}?useSSL=false&allowPublicKeyRetrieval=true
    username: ${secret.staging.SPRING_DATABASE_USERNAME}
    password: ${secret.staging.SPRING_DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

kakao:
  client-id: ${secret.staging.OAUTH_KAKAO_CLIENT_ID}

tmap:
  api:
    app-key: ${secret.staging.TMAP_API_KEY}

redis:
  host: ${secret.staging.REDIS_HOST}
  port: ${secret.staging.REDIS_PORT}

open-api:
  api:
    service-key: ${secret.staging.OPEN_API_SERVICE_KEY}
    spare-key : ${secret.staging.OPEN_API_SPARE_KEY}
    real-last-key: ${secret.staging.OPEN_API_REAL_LAST_KEY}

kric:
  api:
    service-key: ${secret.staging.KRIC_SERVICE_KEY}

odsay:
  api:
    url: https://api.odsay.com
    service-key: ${secret.staging.ODSAY_SERVICE_KEY}
    spare-key: ${secret.staging.ODSAY_SPARE_KEY}
    real-last-key: ${secret.staging.ODSAY_REAL_LAST_KEY}

jwt:
  access:
    secret: ${secret.staging.JWT_ACCESS_SECRET}
    expiration: ${secret.staging.JWT_ACCESS_EXPIRATION_MS}
  refresh:
    secret: ${secret.staging.JWT_REFRESH_SECRET}
    expiration: ${secret.staging.JWT_REFRESH_EXPIRATION_MS}

mixpanel:
  token: ${secret.prod.MIXPANEL_TOKEN}

discord:
  webhook:
    url:
      staging: ${secret.staging.DISCORD_WEBHOOK_URL}
