spring:
  datasource:
    url: jdbc:mysql://${secret.prod.SPRING_DATABASE_HOST}:${secret.prod.SPRING_DATABASE_PORT}/${secret.prod.SPRING_DATABASE_NAME}?useSSL=false&allowPublicKeyRetrieval=true
    username: ${secret.prod.SPRING_DATABASE_USERNAME}
    password: ${secret.prod.SPRING_DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show-sql: false
        format_sql: false
        default_batch_fetch_size: 100

logging:
  level:
    org:
      hibernate:
        SQL: WARN
        orm:
          jdbc:
            bind: WARN

tmap:
  api:
    app-key: ${secret.prod.TMAP_API_KEY}

redis:
  host: ${secret.prod.REDIS_HOST}
  port: ${secret.prod.REDIS_PORT}
  password: ${secret.prod.REDIS_PASSWORD}

kakao:
  client-id: ${secret.prod.OAUTH_KAKAO_CLIENT_ID}

open-api:
  api:
    service-key: ${secret.prod.OPEN_API_SERVICE_KEY}
    spare-key : ${secret.prod.OPEN_API_SPARE_KEY}
    real-last-key: ${secret.prod.OPEN_API_REAL_LAST_KEY}

kric:
  api:
    service-key: ${secret.prod.KRIC_SERVICE_KEY}

odsay:
  api:
    service-key: ${secret.dev.ODSAY_SERVICE_KEY}
    spare-key: ${secret.dev.ODSAY_SPARE_KEY}
    real-last-key: ${secret.dev.ODSAY_REAL_LAST_KEY}

jwt:
  access:
    secret: ${secret.prod.JWT_ACCESS_SECRET}
    expiration: ${secret.prod.JWT_ACCESS_EXPIRATION_MS}
  refresh:
    secret: ${secret.prod.JWT_REFRESH_SECRET}
    expiration: ${secret.prod.JWT_REFRESH_EXPIRATION_MS}

server:
  port: 8080

management:
  server:
    port: ${secret.prod.MANAGEMENT_PORT}

  endpoints:
    web:
      exposure:
        include: prometheus, health
      base-path: ${secret.prod.MANAGEMENT_BASE_PATH}
    jmx:
      exposure:
        exclude: "*"
    access:
      default: none
  endpoint:
    prometheus:
      enabled: true
    health:
      enabled: true
      show-components: never


discord:
  webhook:
    url: ${secret.prod.DISCORD_WEBHOOK_URL}
