<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 로그 출력 경로를 property로 관리 -->
    <property name="LOG_PATH" value="logs"/>
    <!-- 로그 파일 이름을 property로 관리 -->
    <property name="LOG_FILE" value="${LOG_PATH}/atcha.log"/>

    <!-- RollingFileAppender 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- 분리된 파일로 이동하기 전에, 로그를 임시 저장하는 곳 -->
        <file>${LOG_FILE}</file>

        <!-- 파일 분리 정책 설정; TimeBasedRollingPolicy를 선택 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!-- 매일 새로운 파일 생성함, 날짜별로 yyyy-MM-dd 형식이 파일 postfix로 붙음  -->
            <fileNamePattern>${LOG_PATH}/atcha-%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- 14일 동안 보관 -->
            <maxHistory>14</maxHistory>

        </rollingPolicy>

        <!-- 로그 출력 형식 설정 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss,Asia/Seoul} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>
